@page
@inject IAuthorizationService authorizationService
@model Glare.RolesListModel
@{
    ViewData["Title"] = "RolesList";
}
@if ((await authorizationService.AuthorizeAsync(User, "CreateRolePolicy")).Succeeded)
{
    <h1>Create A New Role</h1>
    <div class="row">
        <div class="col-md-3">
            <a asp-page="/Admin/CreateRoles" class="btn btn-secondary">Create role</a>
        </div>
    </div>
}

<div class="card">
    @if (Model.MyRoles.Any())
    {

        <h2>All Roles</h2>

        @foreach (var role in Model.MyRoles)
        {
            <div class="card-header">
                Role Id: @role.Id
            </div>
            <div class="card-body">
                Role Name: @role.Name
            </div>
            <div class="card-footer">
                <a asp-page="/Admin/EditRole" asp-route-id="@role.Id" class="btn btn-secondary">Edit role</a>
                @*@<a asp-controller="Admin" asp-action="DeleteRole" asp-route-id="@role.Id" class="btn btn-secondary">Delete role</a>*@
            </div>
        }

    }
    else
    {
        <div class="card-header">
            No Roles
        </div>
        @if ((await authorizationService.AuthorizeAsync(User, "CreateRolePolicy")).Succeeded)
        {
            <h1>Create A New Role</h1>
            <div class="row">
                <div class="col-md-3">
                    <a asp-page="/Admin/CreateRoles" class="btn btn-secondary">Create role</a>
                </div>
            </div>
        }
    }
</div>

