@page
@model Glare.Pages.DetailsModel
@{
}

    <div class="row">
        <div class="col-md-3">
            <img class="img-fluid" src="~/images/bowl.jpg" />
        </div>
        <div class="col-md-8">
            <h4>Model.SingleProduct.Name</h4>
            <h5>Model.SingleProduct.Description</h5><hr />
            <h6>Model.SingleProduct.Price<span>NGN</span></h6>
            <hr />
            <a class="btn btn-info">BUY NOW</a>
            <a class="btn btn-outline-primary">ADD TO CART</a>
            <a class="btn btn-secondary">EDIT</a>
            <a class="btn btn-danger">DELETE</a>
        </div>
    </div>


