@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="row">
    <div class="col-md">
        <div class="grid-wrapper my-5">
            @if (Model.PaginatedProducts != null)
            {
                @foreach (var item in Model.PaginatedProducts)
                {
                    <partial name="_DisplayProductpartial" model="item"/>
                }
            }

        </div>
        @{
            var prevDisabled = !Model.PaginatedProducts.HasPreviousPage ? "disabled" : " ";
            var nextDisabled = !Model.PaginatedProducts.HasNextPage ? "disabled" : " ";
        }

        <a asp-page="/Index" asp-route-currentPage="@(Model.PaginatedProducts.CurrentPage - 1)"
           class="btn btn-primary @prevDisabled">
            Previous
        </a>
        <a asp-page="/Index" asp-route-currentPage="@(Model.PaginatedProducts.CurrentPage + 1)"
           class="btn btn-primary @nextDisabled">
            Next
        </a>
    </div>
</div>
    
